
    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
              <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
              <button class="btn btn-xs btn-primary pull-right"
                type="button" ui-sref="app.menu">
                Back to menu
              </button>
              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail"
                         src={{dish.image}} alt="Uthappizza">
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="media-heading">{{dish.name}}
                    <span class="label label-danger">{{dish.label}}</span>
                    <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>

                </div>
              </div>

            </div>
            <div class="col-xs-9 col-xs-offset-1">
              <div class="row">
                <div class="col-xs-4">
                  <h3>Customer Comments</h3>
                </div>
                <div class="col-xs-5">
                  <p style="margin:20px;"
                  <p>Sort by: <input ng-model="query"></p>
                </div>
              </div>
              <div class="row">
              <blockquote ng-repeat="comments in dish.comments | orderBy:query">
                <p>{{comments.rating}} Stars</p>
                <p>{{comments.comment}}</p>
                <footer><span>{{comments.author}}</span> {{comments.date | date:'mediumDate'}}</footer>
              </blockquote>
              </div>

            </div>
        </div>

    </div>
