
<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
    <div class="col-xs-12" ng-if="!showDish">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showDish">
      <button class="btn btn-xs btn-primary pull-right"
        type="button" ui-sref="app.menu">
        Back to menu
      </button>
      <div class="media">
      <a class="media-left media-middle" href="#">
        <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{dish.name}}
          <span class="label label-danger">{{dish.label}}</span>
          <span class="badge">{{dish.price | currency}}</span>
        </h4>
        <p>{{dish.description}}</p>
      </div>
    </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <ul class="list-unstyled">
      <li>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="sort" style="font-size:16px; padding-right:20px;">Customer comments</label>
            <span>Sort By:&nbsp;</span><input type="text" name="sort" id="sort" ng-model="orderText">
          </div>
        </form>
      </li>
      <li ng-repeat="comment in dish.comments | orderBy:orderText">
        <blockquote>
          <p>{{comment.rating}} Stars</p>
          <p>{{comment.comment}}</p>
          <footer>{{comment.author}}, {{comment.date | date}}</footer>
        </blockquote>
      </li>
    </ul>
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
        <blockquote>
          <p>{{tempComment.rating}} Stars</p>
          <p>{{tempComment.comment}}</p>
          <footer>{{tempComment.author}}, {{tempComment.date | date}}</footer>
        </blockquote>
                </ul>
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="author" name="author" placeholder="Enter Name" ng-model="tempComment.author" required>
        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                    </div>
                </div>
      <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-10">
          <label class="radio-inline">
            <input type="radio" name="rating" id="rating1" ng-model="tempComment.rating" value=1> 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="rating" id="rating2" ng-model="tempComment.rating" value=2> 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="rating" id="rating3" ng-model="tempComment.rating" value=3> 3
          </label>
          <label class="radio-inline">
            <input type="radio" name="rating" id="rating4" ng-model="tempComment.rating" value=4> 4
          </label>
          <label class="radio-inline">
            <input type="radio" name="rating" id="rating5" ng-model="tempComment.rating" value=5> 5
          </label>
                    </div>
                </div>
      <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-2 control-label">Comment</label>
                    <div class="col-sm-10">
                    <textarea class="form-control" name="comment" id="comment" rows="4" ng-model="tempComment.comment" required>
                        </textarea>
        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">A comment is required.</span>
                    </div>
                </div>
      <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Send Feedback</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
